<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {% load static %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cosmetology</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>

<body>

<main class="welcome-page">

    <!-- Logo Button -->
    <a href="{% url 'welcome' %}" class="logo-btn">
        <img
            src="https://image.maxpreps.io/school-mascot/1/b/0/1b0af59d-862a-45ab-b45b-4f4d6c981915.gif?version=637066541400000000&width=1024&height=1024"
            alt="Cosmetology Logo"
        >
    </a>

    <div class="welcome-page-content">

        <h1>Welcome to Cosmetology</h1>

        <div class="btn-group">
            <a href="{% url 'sign-in' %}" class="btn btn-primary">
                Check-In
            </a>

            <a href="{% url 'checkout' %}" class="btn btn-secondary">
                Check-Out
            </a>
        </div>

    </div>

</main>

<script>
    (function() {
        const params = new URLSearchParams(window.location.search);

        if (params.get('thank') === '1') {
            alert('Thank you for checking-in, someone will be with you shortly!');
        }
    })();
</script>

</body>
</html>